<% if (typeof successMessage !== 'undefined') { %>
  <div class="alert alert-success">
      <%= successMessage %>
  </div>
<% } %>
<% if (typeof errorMessage !== 'undefined') { %>
  <div class="alert alert-danger">
      <%= errorMessage %>
  </div>
<% } %>